@{
    ViewBag.Title = "Reporte";
}

@section titulo{
    <h2>Generar Reporte</h2>
}

<h3>Generar Reporte</h3>


<p>
   <a class="btn btn-success" href="@Url.Action("GenerarReporte", "Nomina")">Download Report</a> 
</p>